<% if logged_in? %>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container"> 
        <div class="navbar-header">  
                 
             <%= link_to "Home", root_path,class: "navbar-brand" %>
        </div>
        <div class="nav navbar-nav navbar-right">
        	<div class="navbar-header">        	
        	<div class="profile-userpichome">
				<div class="right">
					<%= link_to gravatar_for(current_user, size: 50), current_user %><strong><%= current_user.name %></strong>
				</div>	
			</div>			
        </div>          
    </div>
	</div>
</div>

<div class="row profile">
	<div class="col-md-3">
		<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->   					
        			<%= render 'info/user_info' %>			
      	</div>
     </div>
				
   <div class="col-md-9">
		<%= render 'info/status_form' %>
    	<div class="profile-content">  
      		<h3>Micropost Feed</h3>
      		<%= render 'info/feed' %>
    	</div>
  	</div>
</div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1> 
    <%= link_to "Login now!", new_session_path, class: "btn btn-lg btn-primary" %>
  </div>  
<% end %>