<li id="status-<%= status.id %>">
<div class="row">
    <div class="col-sm-11">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <div class="profile-userpic3">
                    <%= link_to gravatar_for(status.user, size: 50), status.user, class: "pull-left image" %>
                    </div>
                </div>
                <div class="pull-left meta">
                  
                    <h4 class="user"> <%= link_to status.user.name, status.user %></h4>
                    
                    <h6 class="text-muted time">Posted <%= time_ago_in_words(status.created_at) %> ago.</h6>
                </div>
            </div> 
            <div class="post-description"> 
                <%= status.content %>
                <div class="stats">
                    <%= link_to 'Read more', status_path(status.id), class: "btn btn-primary stat-item" %>            
                   
                </div>
            </div>
            <div class="post-footer">                
            </div>
        </div>
    </div>
</div>


</li>


